<div class="row">
  <div class="small-6 large-centered columns gm_search_box">
    <h4>Would you like to edit your route?</h4>
    <hr>

      <%= render 'form' %>

      <%= link_to 'Show', @favorite %> |
  </div>
</div>
