<div class="row">
  <div id="gm_search_box" class="small-6 large-centered columns">
      <h1>Where would you like to go?</h1>
      <hr>
      <p>From:</p>
      <p>To:</p>
      <table>
        <tr>
          <th>All Favorites</th>
          <th></th>
        </tr>

       <hr>
      <% @favorites.each do |favorite| %>
        <tr>
          <td><%= favorite.name %></td>
          <td><%= link_to 'Show', favorite %></td>
        </tr>
      <% end %>
      </table>

      <hr>
      <%= link_to 'New Search', new_search_path %>
    </div>
</div>



