<h1>Searches#index</h1>
<p>Find me in app/views/searches/index.html.erb</p>

<div id="gm_search_box">
  <h1>Where would you like to go?</h1>
  <p>From:</p>
  <p>To:</p>
  <table>
    <tr>
      <th>All Favorites</th>
      <th></th>
    </tr>

   <hr>
  <% @favorites.each do |favorite| %>
    <tr>
      <td><%= favorite.name %></td>
      <td><%= link_to 'Show', favorite %></td>
    </tr>
  <% end %>
  </table>

  <hr>
</div>

<%= link_to 'New Search', new_search_path %>
