<h1>Searches#index</h1>
<p>Find me in app/views/searches/index.html.erb</p>

<table>
  <tr>
    <th>All Favorites</th>
    <th></th>
  </tr>

<% @favorites.each do |favorite| %>
  <tr>
    <td><%= favorite.name %></td>
    <td><%= link_to 'Show', favorite %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Search', new_search_path %>
