<!--This is our primary page for our Yelp Search, has form for search -->

<div class="row">
  <div id="gm_search_box" class="small-6 large-centered columns">
      <p>This is our Yelp Query</p>
      <p>What would you like to do along your trip</p>

      <%= render 'form' %>

    </div>
</div>



