<div class="row">
  <div id="gm_search_box" class="small-6 large-centered columns">
      <h1>The Beaten Path</h1>
      <hr>

      <p id="new_search"><%= link_to 'Start a New Search', new_search_path %></p>
      <hr>

      <h3 id="top_ten_header" class="subheader">Top 10 Routes</h3>
        <div class="row">
          <% @favorites.each do |favorite| %>
          <ul id="top_ten">
            <li>
              <div class="large-7 columns">
                <div><%= favorite.name %></div>
              </div>
              <div class="large-5 columns">
                <div><%= link_to 'Show', favorite %></div>
              </div>
            </li>
          </ul>
          <% end %>
        </div>
        <br>
        <br>
    </div>
</div>



