<div class="row">
  <div id="gm_search_box" class="small-6 large-centered columns">
      <h3 class="subheader">The Beaten Path</h3>
      <hr>

      <p>Where are you?</p>
      <p>Where do you want to go?</p>
      <hr>

      <h5 id="top_ten_header" class="subheader">Top 10 Routes</h5>
        <div class="row">
          <% @favorites.each do |favorite| %>
          <ul id="top_ten">
            <li>
              <div class="large-7 columns">
                <div><%= favorite.name %></div>
              </div>
              <div class="large-5 columns">
                <div><%= link_to 'Show', favorite %></div>
              </div>
            </li>
          </ul>
          <% end %>
        </div>
        <br>
        <br>
    </div>
</div>



