<div class="row">
  <div id="gm_search_box" class="small-6 large-centered columns">

    <h1>Where would you like to go today?</h1>
    <hr>

    <p>From:</p>

    <br>

    <p>To:</p>

    <br>


  </div>
</div>

