<h1>Searches#show</h1>

<div class="row">
  <div id="gm_show_box" class="large-centered-columns">

    <%
      data_hash = {"from" => "Toulon, France", "to" => "Paris, France"}
      waypoints_array = ["Airport, Toulon, France", "Brest, France"]
      options_hash = {"waypoints" => waypoints_array}
    %>

    <%= gmaps({ "direction" => {"data" => data_hash, "options" => options_hash}}) %>
  </div>
</div>