html {
  width:100%;
  height:100%;
}

body
{
// background-image:url('roadtrip2.JPG');
background-color:#cccccc;
background-size: cover;
min-height: 100%;
}

div#map-canvas {
  width: 1000px;
  height: 600px;
}

.name {
  padding: 0 20px 0 20px;
}
.name h1 {
  color: white;
}

#gm_search_box {
  background-color: black;
  border-radius: 10px;
  width: 70%;

  h3 {
    color: white;
    padding: 15px;
    text-align: center;
    font-family: Georgia, serif;
    margin-bottom: -25px;
  }

  p {
    color: white;
  }

  #new_search {
    text-align: center;
  }
}

#top_ten {
  color: white;
  list-style: none;
}

#top_ten li div:first-child {
  text-align: center;
}

#top_ten_header {
  text-align: center;
  color: white;
}

hr {

  align: right;
}