html {
  width:100%;
  height:100%;
}

body
{
background-image:url('roadtrip2.JPG');
background-color:#cccccc;
background-size: cover;
min-height: 100%;
}

#gm_show_box {
  background-color: rgba(0, 0, 0, 0.75);
  height: 550px;
  padding: 20px 25px 25px 25px;
  border-radius: 10px;
  width: 200%;

}
#map-canvas {
  width: 600px;
  height: 500px;
  float: left;
  border: 1px solid white;
  margin-right: 0px;
}

#directions_panel {
  background-color: white;
  overflow: auto;
  float: right;
  border: 1px solid white;
  margin-left: 0px;
  height: 500px;
}

.name {
  padding: 0 20px 0 20px;
}
.name h1 {
  color: white;
}

.top-bar .top-bar-section #home_button {
  background: rgba(0, 0, 0, 0.70);
}

#spacer {
  padding-left: 15px;
}

.gm_search_box {
  padding: 10px 50px 30px 50px;
  background: rgba(0, 0, 0, 0.80);
  border-radius: 10px;
  width: 80%;

  h3, h4 {
    color: white;
    padding: 15px;
    text-align: center;
    font-family: Georgia, serif;
    margin-bottom: -25px;
  }



  p {
    color: white;
  }

  #new_search {
    text-align: center;
  }
}

#top_ten {
  color: white;
  list-style: none;
}

#top_ten li div:first-child {
  text-align: center;
}

#top_ten_header {
  text-align: center;
  color: white;
}

hr {
  align: center;
}

#link_btns {
  display: inline;
}
.btn {
  width: 30px;
  height: 30px;
  background-color: blue;
  margin: 10px;
}

#sign_in {
  border-right: 1px solid white;
}
